@import './animate.less';
@import '//at.alicdn.com/t/font_1657659_e509abejhmm.css';

@wui-prefix: wui;

@font-size: 14px;
@primary-color: #1a1a1a;
@info-color: #3bb4f2;
@success-color: #5eb95e;
@danger-color: #dd514c;
@warning-color: #f37b1d;
@white: #fff;
@black: #000;

@alert-info-bg-color: @info-color;
@alert-success-bg-color: @success-color;
@alert-warning-bg-color: @warning-color;
@alert-danger-bg-color: @danger-color;

body {
  font-size: @font-size;
  color: @primary-color;
  line-height: 1.5;
}
